*{
	margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}
.navbar{
    display: flex;
    padding-top: 20px;
}
.navbar h1 center{
    font-size: 30px;
	width: 640px;
}
.nav-list{
    width: 50%;
    background-color:  black;
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 15px 15px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    color:red;
}